.titulo-pagina {
    color: #ffffff;          /* Cor do texto */
    font-size: 2.5rem;       /* Aumenta o tamanho */
    font-family: 'Arial', sans-serif; /* Use uma fonte mais limpa */
    font-weight: bold;       /* Deixa em negrito */
    text-transform: uppercase; /* Deixa tudo em maiúsculo para impacto */
    letter-spacing: 2px;     /* Espaçamento entre letras */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra para dar profundidade */
}




body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #000000;
}

.header-page {
    background-color: rgb(122, 0, 0);
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgb(255, 0, 0);
}

.body-page {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto; 
}

.pin-container {
    column-count: 4;
    column-gap: 15px;
}


.card-pin {
    background-color: white;
    margin-bottom: 15px;
    border-radius: 15px;
    overflow: hidden;
    display: inline-block;
    width: 100%;
}

.card-pin img {
    width: 100%;
    display: block;
}

.footer-page {
    text-align: center;
    padding: 30px;
    background-color: rgb(255, 0, 0);
    margin-top: 20px;
    color: #ffffff;
}


.logo-imagem {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;    
}

.logo-imagem img {
    width: 100px;           
    height: auto;          
    border-radius: 50%;    
    object-fit: contain;  
}


.barra-navegacao {
    display: flex;         
    align-items: center;   
    gap: 20px;     
}

.item-link a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.item-pesquisa {
    flex-grow: 1; 
}

.item-pesquisa input {
    width: 100%;
    padding: 12px 20px;
    border-radius: 25px; 
    border: 1px solid #ccc;
    outline: none; 
}

.item-login {
    background-color: red; 
    color: red;
    border: none;
    padding: 10px 10px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    position:absolute;
    top: 20px;
    right: 20px;
}

.imagem-login {
    background-image: url(FundoLogin.png);
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    z-index: -1;
    width: 500%;
    height: auto;
    background-size: cover;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.category {
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1px;
}

.card:hover img { transform: scale(1.05); transition: 0.3s; }